@model IEnumerable<LibraryManagementSystem.Models.CheckOut>

    @{
        ViewData["Title"] = "CheckOutHistory";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>CheckOutHistory</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CheckOutDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckInDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountDefaulted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCheckedIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book.ISBN)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOutDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckInDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountDefaulted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCheckedIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.ISBN)
                    </td>


                </tr>
            }
        </tbody>
    </table>
